@import './mixins';

.model-plot {
    display: inline;
}

.model-key {
    padding: 20px 50px;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.6);
    display: inline-block;
}

.stop-btn {
    display: inline-block;
    padding: 20px 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    @include simple-shadow();
    @include simple-transition();
    &:hover {
        color: rgba(0, 0, 0, 0.8)
    }
}

.kill-scheduled-msg {
    display: inline-block;
    padding: 20px 40px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.3);
}

.metric-key {
    color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 0 15px;
}

.wait-screen {
    text-align: center;
    padding-top: 10%;
    color: rgba(0, 0, 0, 0.5);
}

.wait-loader {
    margin: 40px auto;
    display: inline-block;
}

.graph-toggle-btn {
    cursor: pointer;
    display: inline-block;
    font-size: 1.3em;
    color: rgba(0, 0, 0, 0.5);
    @include simple-transition();
    &:hover {
        color: rgba(0, 0, 0, 1);
    }
}

.metric-header {
    padding: 10px 50px;
}

.progress-container {
    .progressbar {
        background-color: #ccc;
        text-align: center;
        height: 3px;
        width: 0;
        @include simple-transition()
        display: inline-block;
    }
    .progress-text {
        display: inline-block;
        vertical-align: middle;
        padding: 6px 50px;
        margin-top: -10px;
        color: #ccc;
        height: 3px;
    }
}

.model-container {
    max-width: 1100px;
    margin: 50px auto;
    background-color: #fff;
    padding: 40px 20px;
    border-radius: 3px;
    @include simple-shadow();
}

.model-graphs-container {
    text-align: center;
    .plot-container {
        margin: auto;
    }
}

body {
    background-color: rgba(0, 0, 0, 0.05)
}