@import './mixins';

.model-plot {
    display: inline;
}

.model-key {
    padding: 20px 50px;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.6);
}

.metric-key {
    color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 0 15px;
}

.wait-screen {
    text-align: center;
    padding-top: 10%;
    color: rgba(0, 0, 0, 0.5);
}

.wait-loader {
    margin: 40px auto;
    display: inline-block;
}

.graph-toggle-btn {
    cursor: pointer;
    display: inline-block;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.5);
    &:hover {
        color: rgba(0, 0, 0, 1)
    }
}

.metric-header {
    padding: 20px 50px;
}