{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard"
  ],
  "plugins" : [
  ],
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "Action"       : false,
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__DEBUG_NEW_WINDOW__" : false,
    "__BASENAME__" : false
  },
  "rules": {
    "semi" : [2, "always"],
    "indent": [2, 4],
    "max-len": [2, 120, 2],
    "standard/computed-property-even-spacing": "off"
  }
}
