:global {
  @import 'base';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .model-name {
      font-size: 1.5em;
  }

  .model-container {
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .config-display {
    padding: 20px;
      pre {
        max-height: 400px;
    }
  }

  .panel-label {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    margin: 20px 0;
  }

  .page-heading {
    padding: 20px;

    .brand-label {
      font-weight: bold;
      font-size: 1.2em;
    }
  }
  .graph-vis-container {
    min-height: 500px;
  }

}
